.container {
    width: 80%;
    margin: 0 auto;
}

.product-info {
    flex: 1;
}

.verify-page h1 {
    text-align: center;
}

.product-info h2 {
    text-align: center;
    margin-bottom: 15px;
}

.scan {
    margin-right: 20px;
    overflow: hidden;
    flex: 0.5;
}

.details .image {
    width: 200px;
    height: 200px;
}

.detail-item {
    font-size: 16px;
}

.details img {
    width: 200px;
}