*{
    box-sizing: border-box;
  }
.main{
    padding-top: 4rem;
    height: 100vh;
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
}

button {
    width: 200px;
    padding: 15px;
    background-color: rgb(103, 172, 196);
    border: none;
    border-color:  rgb(103, 172, 196);
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.text h1 {
    margin-bottom: 20px;
}

.text a {
    color: #fff;
}
/*a:hover{
    background-color: blue;
}*/
