.body{
    padding: 15px;
}

.leftNav{
    font-size: 15pt;
    font-weight: bold;
}




a{
    text-decoration: none;
    color: #000;
}

.rightNav a {
    padding: 15px;
    color: #000;
    font-weight: bold;
}

